<div class="container">
  <div class="mb-4">
    <div class="btn-group">
      <button class="btn btn-outline-primary"
              [class.active]="selectedCategory === ''"
              (click)="filterByCategory('')">
        Wszystkie
      </button>
      <button class="btn btn-outline-primary"
              *ngFor="let category of categories"
              [class.active]="selectedCategory === category.name"
              (click)="filterByCategory(category.name)">
        {{category.name}}
      </button>
    </div>
  </div>

  <div class="row g-4">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card h-100">
        <img [src]="product.image" class="card-img-top" [alt]="product.name" style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.price}} zł</p>
          <button class="btn btn-primary" (click)="addToCart(product)">
            Dodaj do koszyka
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
