<div class="container mt-4">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/produkty']" routerLinkActive="active">Produkty</a>
    </li>
    <li class="nav-item">
      <button class="nav-link position-relative" (click)="cartComponent.toggleCart()">
        Koszyk
        <span class="badge bg-secondary ms-1">{{cart.length}}</span>
      </button>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/zamowienia']" routerLinkActive="active">Zamówienia</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
  <app-cart #cartComponent></app-cart>
</div>
